wf_live_latest.json
{
  "updatedAt": "2026-03-24T02:54:38.309Z",
  "createdAt": "2026-03-23T18:48:11.932Z",
  "id": "mJ9SYWxEjWfy5DaY",
  "name": "DigiSAC - KB Fallback + OpenClaw + Ticket + Agendamento",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "/digisac/kb-fallback-openclaw",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1808,
        -80
      ],
      "id": "187d90d2-35c3-447e-a63d-5f1dde51c506",
      "name": "Webhook - DigiSAC Entrada",
      "webhookId": "a653ef17-25f0-453e-8b23-68418db30d1e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "protocol",
              "value": "={{ $json.body.protocol || $json.body.protocolo || \"\" }}",
              "type": "string"
            },
            {
              "name": "customer_id",
              "value": "={{ $json.body.numero || $json.body.phone || \"\" }}",
              "type": "string"
            },
            {
              "name": "customer_name",
              "value": "={{ $json.body.nome || $json.body.name || \"\" }}",
              "type": "string"
            },
            {
              "name": "message_text",
              "value": "={{ $json.body.message || $json.body.mensagem || \"\" }}",
              "type": "string"
            },
            {
              "name": "contactId",
              "value": "={{ $json.body.contactId || \"\" }}",
              "type": "string"
            },
            {
              "name": "conversation_id",
              "value": "={{ $json.body.conversationId || $json.body.conversation_id || \"\" }}",
              "type": "string"
            },
            {
              "name": "ticket_id",
              "value": "={{ $json.body.ticketId || \"\" }}",
              "type": "string"
            },
            {
              "name": "attempt_key",
              "value": "={{ ($json.body.protocol || $json.body.protocolo || \"\") + \"::\" + ($json.body.numero || \"\") }}",
              "type": "string"
            },
            {
              "name": "channel",
              "value": "={{ \"digisac\" }}",
              "type": "string"
            },
            {
              "name": "serviceId",
              "value": "={{ $json.body.serviceId || \"\" }}",
              "type": "string"
            },
            {
              "name": "event_type",
              "value": "={{ $json.body.event_type || $json.body.eventType || \"message\" }}",
              "type": "string"
            },
            {
              "name": "contact_count",
              "value": "={{ Number($json.body.contact_count || 0) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1568,
        -80
      ],
      "id": "4b857390-961f-4fb8-8392-07c5b658a807",
      "name": "Set - Normalizar Payload"
    },
    {
      "parameters": {
        "jsCode": "const src = $json.message_text || $json.text || ''; const norm = String(src).toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g,'').replace(/[^a-z0-9]+/g,'_').replace(/^_+|_+$/g,'').slice(0,80); return [{json:{...$json, knowledge_key: norm || 'fallback_generico'}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        -80
      ],
      "id": "43a25b1a-b759-45c5-a3f0-8a3cc83c4ecd",
      "name": "Code - Gerar Chave KB"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENCLAW_BRIDGE_URL || \"https://automat.cyberbridge.com.br/decision/openclaw\" }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ protocol: $('Set - Normalizar Payload').item.json.protocol, customer_id: $('Set - Normalizar Payload').item.json.customer_id, customer_name: $('Set - Normalizar Payload').item.json.customer_name, message_text: $('Set - Normalizar Payload').item.json.message_text, event_type: $('Set - Normalizar Payload').item.json.event_type || 'message', contact: { contactId: $('Set - Normalizar Payload').item.json.contactId || '', serviceId: $('Set - Normalizar Payload').item.json.serviceId || '', ambiguous_contact: false, contact_count: Number($('Set - Normalizar Payload').item.json.contact_count || 0) }, contexto: $('Code - Load JSON State V2').item.json.contexto }) }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.OPENCLAW_BRIDGE_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -368,
        48
      ],
      "id": "06a9d667-3096-4fa9-b526-595688c0b80f",
      "name": "HTTP Request - OpenClaw Fallback"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "status",
              "value": "={{ $json.decisao.status }}",
              "type": "string"
            },
            {
              "name": "intent",
              "value": "={{ $json.decisao.intent }}",
              "type": "string"
            },
            {
              "name": "mensagem",
              "value": "={{ $json.decisao.mensagem }}",
              "type": "string"
            },
            {
              "name": "confidence",
              "value": "={{ $json.decisao.confidence }}",
              "type": "number"
            },
            {
              "name": "abrir_ticket",
              "value": "={{ $json.decisao.abrir_ticket }}",
              "type": "boolean"
            },
            {
              "name": "agendar",
              "value": "={{ $json.decisao.agendar }}",
              "type": "boolean"
            },
            {
              "name": "handoff_humano",
              "value": "={{ $json.decisao.handoff_humano }}",
              "type": "boolean"
            },
            {
              "name": "contexto_atualizado",
              "value": "={{ $json.contexto_atualizado }}",
              "type": "object"
            },
            {
              "name": "contactId",
              "value": "={{ $(\"Set - Normalizar Payload\").item.json.contactId }}",
              "type": "string"
            },
            {
              "name": "number",
              "value": "={{ $(\"Set - Normalizar Payload\").item.json.customer_id }}",
              "type": "string"
            },
            {
              "name": "serviceId",
              "value": "={{ $(\"Set - Normalizar Payload\").item.json.serviceId || \"\" }}",
              "type": "string"
            },
            {
              "name": "state",
              "value": "={{ $(\"Code - Load JSON State V2\").item.json.state }}",
              "type": "object"
            },
            {
              "name": "correlation_key",
              "value": "={{ $(\"Code - Load JSON State V2\").item.json.correlation_key }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeOtherFields": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        48
      ],
      "id": "bae3cfcb-06a4-4490-a781-f01e7cf0def5",
      "name": "Set - Normalizar Resposta OpenClaw"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.attempt_count }}",
              "operation": "largerEqual",
              "value2": 3
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1088,
        -48
      ],
      "id": "11bc0eab-fb3a-413d-a8ad-4b4c5d65d017",
      "name": "IF - Tentativas >= 3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://cyberbridge.digisac.me/api/v1/contacts/\" + $(\"Set - Normalizar Payload\").item.json.contactId + \"/ticket/transfer\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.DIGISAC_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ comments: \"Escalado automaticamente\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1328,
        -48
      ],
      "id": "7876f85b-a4b7-471c-8b88-6547123ab12f",
      "name": "HTTP Request - Abrir Ticket"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cyberbridge.digisac.me/api/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.DIGISAC_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: \"Para agendar seu suporte remoto, acesse o link abaixo e preencha nome, email e número do ticket:\nhttps://outlook.office.com/book/CyberBridgeTeam1@cyberbridge.com.br/?ismsaljsauthenabled\", type: \"chat\", contactId: $(\"Set - Normalizar Payload\").item.json.contactId, userId: null, dontOpenTicket: true, origin: \"bot\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2048,
        -48
      ],
      "id": "89957433-6a2d-4531-ba96-d9fba2c28e07",
      "name": "HTTP Request - Enviar Link Bookings DigiSAC"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "/digisac/kb-fallback-openclaw/agendamento-escolha",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        320
      ],
      "id": "36b6e742-edd4-4de6-ac1a-3fec850cd553",
      "name": "Webhook - Escolha Agendamento",
      "webhookId": "99c805ad-0e6b-4471-8176-a0769fbf0307"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "protocol",
              "value": "={{ $json.body.protocol }}",
              "type": "string"
            },
            {
              "name": "customer_id",
              "value": "={{ $json.body.customer_id || $json.body.numero }}",
              "type": "string"
            },
            {
              "name": "conversation_id",
              "value": "={{ $json.body.conversation_id || \"\" }}",
              "type": "string"
            },
            {
              "name": "selected_slot",
              "value": "={{ $json.body.selected_slot }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        320
      ],
      "id": "cba3d00a-cb2d-40c4-9616-377a7315eae3",
      "name": "Set - Normalizar Escolha"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cyberbridge.digisac.me/api/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.DIGISAC_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: `Agendamento confirmado para ${$(\"Set - Normalizar Escolha\").item.json.selected_slot}.`, type: \"chat\", contactId: $(\"Set - Normalizar Payload\").item.json.contactId, userId: null, dontOpenTicket: true, origin: \"bot\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        240
      ],
      "id": "10f9348e-79be-45f1-ac95-9ede9bcfff53",
      "name": "HTTP Request - Confirmar Agendamento DigiSAC"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cyberbridge.digisac.me/api/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.DIGISAC_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: \"O horário escolhido não está mais disponível.\", type: \"chat\", contactId: $(\"Set - Normalizar Payload\").item.json.contactId, userId: null, dontOpenTicket: true, origin: \"bot\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        400
      ],
      "id": "8eefcd74-c95b-4026-9b1b-7e8f1fe40ee1",
      "name": "HTTP Request - Informar Indisponibilidade DigiSAC"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2288,
        128
      ],
      "id": "42b8d5b2-ffd7-4ab6-84ad-9a0161434493",
      "name": "Respond to Webhook - Final"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.quality_ok }}",
              "operation": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -528,
        48
      ],
      "id": "if-quality",
      "name": "IF - Qualidade para OpenClaw"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs'); const path='/tmp/n8n_kb_estado.json'; let db={kb:{}, estado:{}}; if (fs.existsSync(path)) { try { db = JSON.parse(fs.readFileSync(path,'utf8')); } catch(e){} } const key=$('Code - Load JSON State').item.json.correlation_key; const prev=db.estado[key] || {attempt_count:0,resolved:false,ticket_created:false,schedule_started:false}; const next=(prev.attempt_count||0)+1; db.estado[key]={...prev, protocol:$('Set - Normalizar Payload').item.json.protocol, numero:$('Set - Normalizar Payload').item.json.customer_id, attempt_count:next, updated_at:new Date().toISOString()}; fs.writeFileSync(path, JSON.stringify(db,null,2)); return [{json:{...$json, attempt_count:next, state:db.estado[key]}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -48
      ],
      "id": "json-update-attempt",
      "name": "Code - Update Attempt JSON"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_branch }}",
                    "rightValue": "encerrado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ENCERRADO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_branch }}",
                    "rightValue": "handoff",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "HANDOFF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_branch }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "AGENDAR"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        608,
        48
      ],
      "id": "route-openclaw",
      "name": "Switch - Rota OpenClaw"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path='/tmp/n8n_kb_estado.json';\nlet db={kb:{}, estado:{}};\nif (fs.existsSync(path)) { try { db = JSON.parse(fs.readFileSync(path,'utf8')); } catch(e){} }\nconst protocol=$('Set - Normalizar Payload').item.json.protocol || '';\nconst numero=$('Set - Normalizar Payload').item.json.customer_id || '';\nconst customer_name=$('Set - Normalizar Payload').item.json.customer_name || '';\nconst correlation_key=`${protocol}::${numero}`;\nconst src=String($('Set - Normalizar Payload').item.json.message_text || '').trim();\nconst low=src.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\nconst usefulShort = new Set(['oi','ola','olá','bom dia','boa tarde','boa noite','sim','ok','pode','1','2']);\nconst quality_ok = src.length >= 2 || usefulShort.has(low);\n\nconst state=db.estado[correlation_key] || {attempt_count:0,resolved:false,ticket_created:false,ticket_id:'',schedule_started:false, contexto:{}};\nconst ctx=state.contexto || {};\nconst contexto = {\n  protocolo: ctx.protocolo || protocol,\n  numero: ctx.numero || numero,\n  nome: ctx.nome || customer_name || '',\n  empresa: ctx.empresa || '',\n  identificado: !!ctx.identificado,\n  triagem_concluida: !!ctx.triagem_concluida,\n  tentativas: Number(ctx.tentativas || 0),\n  ticket_aberto: !!ctx.ticket_aberto,\n  agendamento_enviado: !!ctx.agendamento_enviado,\n  encerrado: !!ctx.encerrado,\n  updated_at: ctx.updated_at || '',\n  last_status: ctx.last_status || '',\n  last_intent: ctx.last_intent || '',\n  last_event_type: ctx.last_event_type || '',\n  ultima_solicitacao_tipo: ctx.ultima_solicitacao_tipo || ''\n};\n\nconst intent=$('Code - Gerar Chave KB').item.json.knowledge_key || 'fallback_generico';\nconst stage='fallback_openclaw';\nconst kb_key=`${intent}::${stage}`;\nconst hit=db.kb[kb_key] || null;\nreturn [{json:{...$json, db_path:path, correlation_key, quality_ok, intent, stage, kb_key, answer_found:!!hit, kb_record:hit, state, contexto, already_resolved:false}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        -80
      ],
      "id": "load-v2",
      "name": "Code - Load JSON State V2"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.already_resolved }}",
              "operation": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -704,
        -96
      ],
      "id": "if-resolved",
      "name": "IF - Ja Resolvido"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path='/tmp/n8n_kb_estado.json';\nlet db={kb:{}, estado:{}};\nif (fs.existsSync(path)) { try { db = JSON.parse(fs.readFileSync(path,'utf8')); } catch(e){} }\nconst key = $json.correlation_key || `${$('Set - Normalizar Payload').item.json.protocol}::${$('Set - Normalizar Payload').item.json.customer_id}`;\nconst prev = db.estado[key] || {attempt_count:0,resolved:false,ticket_created:false,ticket_id:'',schedule_started:false, contexto:{}};\nconst ctx = $json.contexto_atualizado || prev.contexto || {};\nconst incomingTicket = $('Set - Normalizar Payload').item.json.ticket_id || '';\nconst route_branch = ($json.status === 'ENCERRADO') ? 'encerrado' : ($json.handoff_humano ? 'handoff' : ($json.agendar ? 'agendar' : 'default'));\n\ndb.estado[key] = {\n  ...prev,\n  protocolo: $('Set - Normalizar Payload').item.json.protocol,\n  numero: $('Set - Normalizar Payload').item.json.customer_id,\n  contexto: ctx,\n  ticket_id: prev.ticket_id || incomingTicket || '',\n  ticket_created: !!(prev.ticket_created || $json.abrir_ticket),\n  updated_at: new Date().toISOString()\n};\n\nif (ctx.encerrado) {\n  db.estado[key].resolved = true;\n}\n\nfs.writeFileSync(path, JSON.stringify(db,null,2));\nreturn [{json:{...$json, state: db.estado[key], route_branch}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        48
      ],
      "id": "save-kb-v2",
      "name": "Code - Save KB JSON V2"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.state && $json.state.ticket_id ? $json.state.ticket_id : \"\" }}",
              "operation": "notEmpty"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        -48
      ],
      "id": "if-ticket-id",
      "name": "IF - Ticket ID Exists"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.from || \"client\" }}",
              "operation": "equal",
              "value2": "client"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1680,
        -224
      ],
      "id": "if-origin-client",
      "name": "IF - Origem Cliente"
    },
    {
      "parameters": {
        "jsCode": "const base = $(\"Code - Extrair ContactId\").item.json; const tagsArr = Array.isArray($json.tags) ? $json.tags : []; const tags = tagsArr.map(t => t.label).filter(Boolean); const bot_on = tags.includes(\"BOT:ON\"); const statusTag = tags.find(t => String(t).startsWith(\"STATUS:\")) || \"STATUS:INICIO\"; const status = String(statusTag).replace(\"STATUS:\",\"\"); return [{json:{...base, tags, bot_on, status}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        -224
      ],
      "id": "extract-state",
      "name": "Code - Extrair Estado Conversa"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.bot_on }}",
              "operation": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -912,
        -240
      ],
      "id": "if-bot-on",
      "name": "IF - BOT ON"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status || \"\" }}",
              "operation": "notEmpty"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -608,
        -224
      ],
      "id": "if-has-status",
      "name": "IF - Tem STATUS"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "INICIO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "STATUS_INICIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "AGUARDANDO_IDENTIFICACAO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "STATUS_AGUARDANDO_IDENTIFICACAO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "TRIAGEM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "STATUS_TRIAGEM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "AGUARDANDO_VALIDACAO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "STATUS_AGUARDANDO_VALIDACAO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "AGENDAMENTO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "STATUS_AGENDAMENTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "AGUARDANDO_ESCOLHA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "STATUS_AGUARDANDO_ESCOLHA"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -368,
        -224
      ],
      "id": "switch-status",
      "name": "Switch - Route by STATUS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "mensagem",
              "value": "Para eu seguir com seu atendimento, me informe seu nome e empresa.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -480
      ],
      "id": "set-msg-inicio",
      "name": "Set - Msg STATUS INICIO"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "mensagem",
              "value": "Pode me descrever melhor o problema?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        -368
      ],
      "id": "set-msg-ident",
      "name": "Set - Msg STATUS AGUARDANDO_IDENTIFICACAO"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "mensagem",
              "value": "Problema resolvido? Responda 1 para sim ou 2 para não.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        -240
      ],
      "id": "set-msg-valid",
      "name": "Set - Msg STATUS AGUARDANDO_VALIDACAO"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "mensagem",
              "value": "Vamos tentar novamente...",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -368
      ],
      "id": "set-msg-retry",
      "name": "Set - Msg Retry"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "mensagem",
              "value": "Perfeito, atendimento encerrado.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -128
      ],
      "id": "set-msg-end",
      "name": "Set - Msg Encerrado"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cyberbridge.digisac.me/api/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.DIGISAC_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { text: $json.mensagem, type: \"chat\", contactId: $json.contactId, number: $json.number, serviceId: $json.serviceId, origin: \"bot\", dontOpenTicket: true } }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        848,
        -240
      ],
      "id": "send-generic-msg",
      "name": "HTTP Request - Enviar Mensagem Generica DigiSAC"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cyberbridge.digisac.me/api/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.DIGISAC_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.comment_text || \"Log interno\", type: \"comment\", contactId: $(\"Set - Normalizar Payload\").item.json.contactId, userId: null, origin: \"bot\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1088,
        224
      ],
      "id": "digisac-comment",
      "name": "HTTP Request - DigiSAC Comment"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "comment_text",
              "value": "Chamado escalado automaticamente após 3 tentativas.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        224
      ],
      "id": "set-comment-ticket",
      "name": "Set - Comment Ticket"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "comment_text",
              "value": "Link do Bookings enviado ao cliente.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        224
      ],
      "id": "set-comment-agendamento",
      "name": "Set - Comment Agendamento"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "comment_text",
              "value": "Agendamento confirmado automaticamente.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        528
      ],
      "id": "set-comment-confirmado",
      "name": "Set - Comment Confirmado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "comment_text",
              "value": "Atendimento encerrado automaticamente.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        -336
      ],
      "id": "set-comment-encerrado",
      "name": "Set - Comment Encerrado"
    },
    {
      "parameters": {
        "url": "={{ \"https://cyberbridge.digisac.me/api/v1/contacts?where[data.number][$iLike]=%\" + $(\"Set - Normalizar Payload\").item.json.customer_id + \"%\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.DIGISAC_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1328,
        128
      ],
      "id": "get-contact-phone",
      "name": "HTTP Request - Get Contact By Phone"
    },
    {
      "parameters": {
        "jsCode": "const arr = ($json.data || []); const first = Array.isArray(arr) ? (arr[0] || {}) : {}; const contactId = first.id || \"\"; const tags = Array.isArray(first.tags) ? first.tags.map(t => t.label).filter(Boolean) : []; const bot_on = tags.includes(\"BOT:ON\"); const statusTag = tags.find(t => String(t).startsWith(\"STATUS:\")) || \"STATUS:INICIO\"; const status = String(statusTag).replace(\"STATUS:\",\"\"); return [{json:{...$(\"Set - Normalizar Payload\").item.json, contactId, tags, bot_on, status, serviceId:first.serviceId || \"\", contact_name_real:first.name || $(\"Set - Normalizar Payload\").item.json.customer_name}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        128
      ],
      "id": "extract-contactid",
      "name": "Code - Extrair ContactId"
    },
    {
      "parameters": {
        "jsCode": "const base = $(\"Code - Extrair ContactId\").item.json; const tags = (base.tags || []).filter(t => !String(t).startsWith(\"STATUS:\")); return [{json:{...base, tagLabels:[...tags, \"STATUS:AGUARDANDO_IDENTIFICACAO\"]}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -528
      ],
      "id": "build-tags-inicio",
      "name": "Code - Build Tags STATUS INICIO"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://cyberbridge.digisac.me/api/v1/contacts/\" + $(\"Code - Map Label to TagIds\").item.json.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.DIGISAC_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { tagIds: $(\"Code - Map Label to TagIds\").item.json.tagIds } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        368,
        -528
      ],
      "id": "set-tags-digisac",
      "name": "HTTP Request - Set Tags DigiSAC"
    },
    {
      "parameters": {
        "url": "https://cyberbridge.digisac.me/api/v1/tags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.DIGISAC_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        368,
        -640
      ],
      "id": "list-tags-digisac",
      "name": "HTTP Request - Listar Tags DigiSAC"
    },
    {
      "parameters": {
        "jsCode": "const prev = $(\"Code - Build Tags STATUS INICIO\").item.json; const wanted = prev.tagLabels || []; const payload = $json.data || $json.items || $json || []; const rows = Array.isArray(payload) ? payload : (Array.isArray(payload.data) ? payload.data : []); const map = new Map(rows.map(t => [t.label || t.name, t.id])); const tagIds = wanted.map(label => map.get(label)).filter(Boolean); return [{json:{...prev, tagIds, listedTags: rows}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -640
      ],
      "id": "map-tag-ids",
      "name": "Code - Map Label to TagIds"
    },
    {
      "parameters": {
        "url": "={{ \"https://cyberbridge.digisac.me/api/v1/contacts/\" + $(\"Code - Extrair ContactId\").item.json.contactId + \"?include[0]=tags\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.DIGISAC_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -848,
        128
      ],
      "id": "get-contact-tags",
      "name": "HTTP Request - Get Contact Tags DigiSAC"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "mensagem",
              "value": "={{ $json.mensagem }}",
              "type": "string"
            },
            {
              "name": "contactId",
              "value": "={{ $json.contactId }}",
              "type": "string"
            },
            {
              "name": "number",
              "value": "={{ $json.customer_id || $json.number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        -240
      ],
      "id": "set-payload-final",
      "name": "Set - Payload Final"
    },
    {
      "parameters": {
        "jsCode": "const base = $json; const status = base.status || base.status_decisao || \"INICIO\"; let decisao = { status, intent: \"unknown\", responder_ao_cliente: true, mensagem: \"\", confidence: 0.8, usar_resposta_pronta: true, kb_item_id: null, precisa_identificacao: false, abrir_ticket: false, agendar: false, handoff_humano: false, motivo: \"estado_atual\" }; if (status === \"INICIO\") { decisao = { ...decisao, mensagem: \"Para eu seguir com seu atendimento, me informe seu nome e empresa.\", precisa_identificacao: true, kb_item_id: \"kb_identificacao_001\" }; } else if (status === \"AGUARDANDO_IDENTIFICACAO\") { decisao = { ...decisao, mensagem: \"Pode me descrever melhor o problema?\", status: \"TRIAGEM\", kb_item_id: \"kb_triagem_001\" }; } else if (status === \"AGUARDANDO_VALIDACAO\") { decisao = { ...decisao, mensagem: \"Problema resolvido? Responda 1 para sim ou 2 para não.\", kb_item_id: \"kb_validacao_001\" }; } return [{json:{...base, decisao}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        -240
      ],
      "id": "resolver-acao",
      "name": "Code - Resolver Acao Conversacional"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "mensagem",
              "value": "={{ $json.decisao.mensagem }}",
              "type": "string"
            },
            {
              "name": "contactId",
              "value": "={{ $json.contactId }}",
              "type": "string"
            },
            {
              "name": "number",
              "value": "={{ $json.customer_id || $json.number }}",
              "type": "string"
            },
            {
              "name": "serviceId",
              "value": "={{ $json.serviceId }}",
              "type": "string"
            },
            {
              "name": "status_decisao",
              "value": "={{ $json.decisao.status }}",
              "type": "string"
            },
            {
              "name": "abrir_ticket",
              "value": "={{ $json.decisao.abrir_ticket }}",
              "type": "boolean"
            },
            {
              "name": "agendar",
              "value": "={{ $json.decisao.agendar }}",
              "type": "boolean"
            }
          ]
        },
        "options": {
          "includeOtherFields": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        -240
      ],
      "id": "set-payload-decisao",
      "name": "Set - Payload Decisao"
    },
    {
      "parameters": {
        "jsCode": "const base = $(\"Code - Build Tags STATUS INICIO\").item.json; return [{json:{...base}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -520
      ],
      "id": "restore-context-tags",
      "name": "Code - Restaurar Contexto Apos Tags"
    }
  ],
  "connections": {
    "Webhook - DigiSAC Entrada": {
      "main": [
        [
          {
            "node": "IF - Origem Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Origem Cliente": {
      "main": [
        [
          {
            "node": "Set - Normalizar Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook - Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Normalizar Payload": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Contact By Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Contact By Phone": {
      "main": [
        [
          {
            "node": "Code - Extrair ContactId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extrair ContactId": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Contact Tags DigiSAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extrair Estado Conversa": {
      "main": [
        [
          {
            "node": "IF - BOT ON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - BOT ON": {
      "main": [
        [
          {
            "node": "Code - Gerar Chave KB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook - Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Tem STATUS": {
      "main": [
        [
          {
            "node": "Switch - Route by STATUS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook - Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Route by STATUS": {
      "main": [
        [
          {
            "node": "Code - Build Tags STATUS INICIO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Resolver Acao Conversacional",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Gerar Chave KB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Resolver Acao Conversacional",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - Enviar Link Bookings DigiSAC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook - Escolha Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Msg STATUS INICIO": {
      "main": [
        [
          {
            "node": "Set - Payload Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Msg STATUS AGUARDANDO_IDENTIFICACAO": {
      "main": [
        [
          {
            "node": "Set - Payload Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Msg STATUS AGUARDANDO_VALIDACAO": {
      "main": [
        [
          {
            "node": "Set - Payload Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Enviar Mensagem Generica DigiSAC": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Gerar Chave KB": {
      "main": [
        [
          {
            "node": "Code - Load JSON State V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Load JSON State V2": {
      "main": [
        [
          {
            "node": "IF - Ja Resolvido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Ja Resolvido": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Final",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Qualidade para OpenClaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Qualidade para OpenClaw": {
      "main": [
        [
          {
            "node": "HTTP Request - OpenClaw Fallback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - OpenClaw Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - OpenClaw Fallback": {
      "main": [
        [
          {
            "node": "Set - Normalizar Resposta OpenClaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Normalizar Resposta OpenClaw": {
      "main": [
        [
          {
            "node": "Code - Save KB JSON V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Save KB JSON V2": {
      "main": [
        [
          {
            "node": "Switch - Rota OpenClaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Rota OpenClaw": {
      "main": [
        [
          {
            "node": "Set - Payload Final",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Ticket ID Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - Enviar Link Bookings DigiSAC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Payload Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Update Attempt JSON": {
      "main": [
        [
          {
            "node": "IF - Tentativas >= 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Tentativas >= 3": {
      "main": [
        [
          {
            "node": "IF - Ticket ID Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook - Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Ticket ID Exists": {
      "main": [
        [
          {
            "node": "Set - Comment Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - Abrir Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Abrir Ticket": {
      "main": [
        [
          {
            "node": "Set - Comment Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Comment Ticket": {
      "main": [
        [
          {
            "node": "HTTP Request - DigiSAC Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Enviar Link Bookings DigiSAC": {
      "main": [
        [
          {
            "node": "Set - Comment Agendamento",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook - Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Comment Agendamento": {
      "main": [
        [
          {
            "node": "HTTP Request - DigiSAC Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Escolha Agendamento": {
      "main": [
        [
          {
            "node": "Set - Normalizar Escolha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Normalizar Escolha": {
      "main": [
        [
          {
            "node": "HTTP Request - Confirmar Agendamento DigiSAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Confirmar Agendamento DigiSAC": {
      "main": [
        [
          {
            "node": "Set - Comment Confirmado",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook - Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Comment Confirmado": {
      "main": [
        [
          {
            "node": "HTTP Request - DigiSAC Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Msg Encerrado": {
      "main": [
        [
          {
            "node": "Set - Payload Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Comment Encerrado": {
      "main": [
        [
          {
            "node": "HTTP Request - DigiSAC Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Tags STATUS INICIO": {
      "main": [
        [
          {
            "node": "HTTP Request - Listar Tags DigiSAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Set Tags DigiSAC": {
      "main": [
        [
          {
            "node": "Code - Restaurar Contexto Apos Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Listar Tags DigiSAC": {
      "main": [
        [
          {
            "node": "Code - Map Label to TagIds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Map Label to TagIds": {
      "main": [
        [
          {
            "node": "HTTP Request - Set Tags DigiSAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Contact Tags DigiSAC": {
      "main": [
        [
          {
            "node": "Code - Extrair Estado Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Payload Final": {
      "main": [
        [
          {
            "node": "HTTP Request - Enviar Mensagem Generica DigiSAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Resolver Acao Conversacional": {
      "main": [
        [
          {
            "node": "Set - Payload Decisao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Payload Decisao": {
      "main": [
        [
          {
            "node": "HTTP Request - Enviar Mensagem Generica DigiSAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Restaurar Contexto Apos Tags": {
      "main": [
        [
          {
            "node": "Code - Resolver Acao Conversacional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - DigiSAC Comment": {
      "main": [
        [
          {
            "node": "Set - Payload Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "64acbf5f-70f2-40b3-ab4c-a591ccfbfe46",
  "activeVersionId": "64acbf5f-70f2-40b3-ab4c-a591ccfbfe46",
  "versionCounter": 132,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-23T18:48:11.939Z",
      "createdAt": "2026-03-23T18:48:11.939Z",
      "role": "workflow:owner",
      "workflowId": "mJ9SYWxEjWfy5DaY",
      "projectId": "YjlnKqYQEm570oQ0",
      "project": {
        "updatedAt": "2025-12-19T21:40:18.629Z",
        "createdAt": "2025-12-19T21:09:07.765Z",
        "id": "YjlnKqYQEm570oQ0",
        "name": "willian andrade <projetos@cyberbridge.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-19T21:09:07.766Z",
            "createdAt": "2025-12-19T21:09:07.766Z",
            "userId": "ea80400d-ced0-413f-a049-5716804a81b2",
            "projectId": "YjlnKqYQEm570oQ0",
            "user": {
              "updatedAt": "2026-03-24T11:43:20.000Z",
              "createdAt": "2025-12-19T21:09:07.369Z",
              "id": "ea80400d-ced0-413f-a049-5716804a81b2",
              "email": "projetos@cyberbridge.com.br",
              "firstName": "willian",
              "lastName": "andrade",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-19T21:40:31.641Z",
                "personalization_survey_n8n_version": "2.0.3",
                "companyType": "personal",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "O5v6hY89iW4rbqwe",
                "userActivatedAt": 1766332222031,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1768865259387
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-24T02:54:38.310Z",
    "createdAt": "2026-03-24T02:54:38.310Z",
    "versionId": "64acbf5f-70f2-40b3-ab4c-a591ccfbfe46",
    "workflowId": "mJ9SYWxEjWfy5DaY",
    "nodes": [
      {
        "parameters": {
          "multipleMethods": true,
          "httpMethod": [
            "POST"
          ],
          "path": "/digisac/kb-fallback-openclaw",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1808,
          -80
        ],
        "id": "187d90d2-35c3-447e-a63d-5f1dde51c506",
        "name": "Webhook - DigiSAC Entrada",
        "webhookId": "a653ef17-25f0-453e-8b23-68418db30d1e"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "protocol",
                "value": "={{ $json.body.protocol || $json.body.protocolo || \"\" }}",
                "type": "string"
              },
              {
                "name": "customer_id",
                "value": "={{ $json.body.numero || $json.body.phone || \"\" }}",
                "type": "string"
              },
              {
                "name": "customer_name",
                "value": "={{ $json.body.nome || $json.body.name || \"\" }}",
                "type": "string"
              },
              {
                "name": "message_text",
                "value": "={{ $json.body.message || $json.body.mensagem || \"\" }}",
                "type": "string"
              },
              {
                "name": "contactId",
                "value": "={{ $json.body.contactId || \"\" }}",
                "type": "string"
              },
              {
                "name": "conversation_id",
                "value": "={{ $json.body.conversationId || $json.body.conversation_id || \"\" }}",
                "type": "string"
              },
              {
                "name": "ticket_id",
                "value": "={{ $json.body.ticketId || \"\" }}",
                "type": "string"
              },
              {
                "name": "attempt_key",
                "value": "={{ ($json.body.protocol || $json.body.protocolo || \"\") + \"::\" + ($json.body.numero || \"\") }}",
                "type": "string"
              },
              {
                "name": "channel",
                "value": "={{ \"digisac\" }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1568,
          -80
        ],
        "id": "4b857390-961f-4fb8-8392-07c5b658a807",
        "name": "Set - Normalizar Payload"
      },
      {
        "parameters": {
          "jsCode": "const src = $json.message_text || $json.text || ''; const norm = String(src).toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g,'').replace(/[^a-z0-9]+/g,'_').replace(/^_+|_+$/g,'').slice(0,80); return [{json:{...$json, knowledge_key: norm || 'fallback_generico'}}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1088,
          -80
        ],
        "id": "43a25b1a-b759-45c5-a3f0-8a3cc83c4ecd",
        "name": "Code - Gerar Chave KB"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://automat.cyberbridge.com.br/webhook/openclaw-fallback",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ protocol: $(\"Set - Normalizar Payload\").item.json.protocol, customer_id: $(\"Set - Normalizar Payload\").item.json.customer_id, customer_name: $(\"Set - Normalizar Payload\").item.json.customer_name, message_text: $(\"Set - Normalizar Payload\").item.json.message_text, context: { conversation_id: $(\"Set - Normalizar Payload\").item.json.conversation_id, channel: $(\"Set - Normalizar Payload\").item.json.channel } }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -368,
          48
        ],
        "id": "06a9d667-3096-4fa9-b526-595688c0b80f",
        "name": "HTTP Request - OpenClaw Fallback"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "answer_found",
                "value": "={{ $json.answer_found }}",
                "type": "boolean"
              },
              {
                "name": "mensagem",
                "value": "={{ $json.mensagem }}",
                "type": "string"
              },
              {
                "name": "knowledge_key",
                "value": "={{ $json.knowledge_key || $(\"Code - Gerar Chave KB\").item.json.knowledge_key }}",
                "type": "string"
              },
              {
                "name": "resolved",
                "value": "={{ $json.resolved }}",
                "type": "boolean"
              },
              {
                "name": "should_open_ticket",
                "value": "={{ $json.should_open_ticket }}",
                "type": "boolean"
              },
              {
                "name": "should_schedule",
                "value": "={{ $json.should_schedule }}",
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -128,
          48
        ],
        "id": "bae3cfcb-06a4-4490-a781-f01e7cf0def5",
        "name": "Set - Normalizar Resposta OpenClaw"
      },
      {
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{ $json.attempt_count }}",
                "operation": "largerEqual",
                "value2": 3
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1088,
          -48
        ],
        "id": "11bc0eab-fb3a-413d-a8ad-4b4c5d65d017",
        "name": "IF - Tentativas >= 3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ \"https://cyberbridge.digisac.me/api/v1/contacts/\" + $(\"Set - Normalizar Payload\").item.json.contactId + \"/ticket/transfer\" }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 0e2b99e486e18e67bdcad5dcaad660e936a575c1"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ comments: \"Escalado automaticamente\" }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1328,
          -48
        ],
        "id": "7876f85b-a4b7-471c-8b88-6547123ab12f",
        "name": "HTTP Request - Abrir Ticket"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://cyberbridge.digisac.me/api/v1/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 0e2b99e486e18e67bdcad5dcaad660e936a575c1"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ text: \"Para agendar seu suporte remoto, acesse o link abaixo e preencha nome, email e número do ticket:\nhttps://outlook.office.com/book/CyberBridgeTeam1@cyberbridge.com.br/?ismsaljsauthenabled\", type: \"chat\", contactId: $(\"Set - Normalizar Payload\").item.json.contactId, userId: null, dontOpenTicket: true, origin: \"bot\" }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2048,
          -48
        ],
        "id": "89957433-6a2d-4531-ba96-d9fba2c28e07",
        "name": "HTTP Request - Enviar Link Bookings DigiSAC"
      },
      {
        "parameters": {
          "multipleMethods": true,
          "httpMethod": [
            "POST"
          ],
          "path": "/digisac/kb-fallback-openclaw/agendamento-escolha",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -768,
          320
        ],
        "id": "36b6e742-edd4-4de6-ac1a-3fec850cd553",
        "name": "Webhook - Escolha Agendamento",
        "webhookId": "99c805ad-0e6b-4471-8176-a0769fbf0307"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "protocol",
                "value": "={{ $json.body.protocol }}",
                "type": "string"
              },
              {
                "name": "customer_id",
                "value": "={{ $json.body.customer_id || $json.body.numero }}",
                "type": "string"
              },
              {
                "name": "conversation_id",
                "value": "={{ $json.body.conversation_id || \"\" }}",
                "type": "string"
              },
              {
                "name": "selected_slot",
                "value": "={{ $json.body.selected_slot }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -528,
          320
        ],
        "id": "cba3d00a-cb2d-40c4-9616-377a7315eae3",
        "name": "Set - Normalizar Escolha"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://cyberbridge.digisac.me/api/v1/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 0e2b99e486e18e67bdcad5dcaad660e936a575c1"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ text: `Agendamento confirmado para ${$(\"Set - Normalizar Escolha\").item.json.selected_slot}.`, type: \"chat\", contactId: $(\"Set - Normalizar Payload\").item.json.contactId, userId: null, dontOpenTicket: true, origin: \"bot\" }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          448,
          240
        ],
        "id": "10f9348e-79be-45f1-ac95-9ede9bcfff53",
        "name": "HTTP Request - Confirmar Agendamento DigiSAC"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://cyberbridge.digisac.me/api/v1/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 0e2b99e486e18e67bdcad5dcaad660e936a575c1"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ text: \"O horário escolhido não está mais disponível.\", type: \"chat\", contactId: $(\"Set - Normalizar Payload\").item.json.contactId, userId: null, dontOpenTicket: true, origin: \"bot\" }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          208,
          400
        ],
        "id": "8eefcd74-c95b-4026-9b1b-7e8f1fe40ee1",
        "name": "HTTP Request - Informar Indisponibilidade DigiSAC"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"ok\":true}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          2288,
          128
        ],
        "id": "42b8d5b2-ffd7-4ab6-84ad-9a0161434493",
        "name": "Respond to Webhook - Final"
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.quality_ok }}",
                "operation": "true"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -528,
          48
        ],
        "id": "if-quality",
        "name": "IF - Qualidade para OpenClaw"
      },
      {
        "parameters": {
          "jsCode": "const fs = require('fs'); const path='/tmp/n8n_kb_estado.json'; let db={kb:{}, estado:{}}; if (fs.existsSync(path)) { try { db = JSON.parse(fs.readFileSync(path,'utf8')); } catch(e){} } const key=$('Code - Load JSON State').item.json.correlation_key; const prev=db.estado[key] || {attempt_count:0,resolved:false,ticket_created:false,schedule_started:false}; const next=(prev.attempt_count||0)+1; db.estado[key]={...prev, protocol:$('Set - Normalizar Payload').item.json.protocol, numero:$('Set - Normalizar Payload').item.json.customer_id, attempt_count:next, updated_at:new Date().toISOString()}; fs.writeFileSync(path, JSON.stringify(db,null,2)); return [{json:{...$json, attempt_count:next, state:db.estado[key]}}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          848,
          -48
        ],
        "id": "json-update-attempt",
        "name": "Code - Update Attempt JSON"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          608,
          48
        ],
        "id": "route-openclaw",
        "name": "Switch - Rota OpenClaw"
      },
      {
        "parameters": {
          "jsCode": "const fs = require('fs'); const path='/tmp/n8n_kb_estado.json'; let db={kb:{}, estado:{}}; if (fs.existsSync(path)) { try { db = JSON.parse(fs.readFileSync(path,'utf8')); } catch(e){} } const protocol=$('Set - Normalizar Payload').item.json.protocol || ''; const numero=$('Set - Normalizar Payload').item.json.customer_id || ''; const correlation_key=`${protocol}::${numero}`; const src=$('Set - Normalizar Payload').item.json.message_text||''; const low=String(src).trim().toLowerCase(); const blocked=['oi','ola','olá','ok','blz','bom dia','boa tarde','boa noite']; const quality_ok = String(src).trim().length >= 12 && !blocked.includes(low); const state=db.estado[correlation_key] || {attempt_count:0,resolved:false,ticket_created:false,ticket_id:'',schedule_started:false}; const intent=$('Code - Gerar Chave KB').item.json.knowledge_key || 'fallback_generico'; const stage='fallback_openclaw'; const kb_key=`${intent}::${stage}`; const hit=db.kb[kb_key] || null; return [{json:{...$json, db_path:path, correlation_key, quality_ok, intent, stage, kb_key, answer_found:!!hit, kb_record:hit, state, already_resolved:!!state.resolved}}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -848,
          -80
        ],
        "id": "load-v2",
        "name": "Code - Load JSON State V2"
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.already_resolved }}",
                "operation": "true"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -704,
          -96
        ],
        "id": "if-resolved",
        "name": "IF - Ja Resolvido"
      },
      {
        "parameters": {
          "jsCode": "const fs = require('fs'); const path='/tmp/n8n_kb_estado.json'; let db={kb:{}, estado:{}}; if (fs.existsSync(path)) { try { db = JSON.parse(fs.readFileSync(path,'utf8')); } catch(e){} } const key=$json.kb_key || `${$json.intent}::${$json.stage}`; db.kb[key]={intent:$json.intent,stage:$json.stage || 'fallback_openclaw',mensagem:$json.mensagem,resolved:!!$json.resolved,origem:'openclaw',created_at:new Date().toISOString()}; fs.writeFileSync(path, JSON.stringify(db,null,2)); return [{json:$json}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          128,
          48
        ],
        "id": "save-kb-v2",
        "name": "Code - Save KB JSON V2"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.state && $json.state.ticket_id ? $json.state.ticket_id : \"\" }}",
                "operation": "notEmpty"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1200,
          -48
        ],
        "id": "if-ticket-id",
        "name": "IF - Ticket ID Exists"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.body.from || \"client\" }}",
                "operation": "equal",
                "value2": "client"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1680,
          -224
        ],
        "id": "if-origin-client",
        "name": "IF - Origem Cliente"
      },
      {
        "parameters": {
          "jsCode": "const base = $(\"Code - Extrair ContactId\").item.json; const tagsArr = Array.isArray($json.tags) ? $json.tags : []; const tags = tagsArr.map(t => t.label).filter(Boolean); const bot_on = tags.includes(\"BOT:ON\"); const statusTag = tags.find(t => String(t).startsWith(\"STATUS:\")) || \"STATUS:INICIO\"; const status = String(statusTag).replace(\"STATUS:\",\"\"); return [{json:{...base, tags, bot_on, status}}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1088,
          -224
        ],
        "id": "extract-state",
        "name": "Code - Extrair Estado Conversa"
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.bot_on }}",
                "operation": "true"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -912,
          -240
        ],
        "id": "if-bot-on",
        "name": "IF - BOT ON"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.status || \"\" }}",
                "operation": "notEmpty"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -608,
          -224
        ],
        "id": "if-has-status",
        "name": "IF - Tem STATUS"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "INICIO",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "STATUS_INICIO"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "AGUARDANDO_IDENTIFICACAO",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "STATUS_AGUARDANDO_IDENTIFICACAO"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "TRIAGEM",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "STATUS_TRIAGEM"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "AGUARDANDO_VALIDACAO",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "STATUS_AGUARDANDO_VALIDACAO"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "AGENDAMENTO",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "STATUS_AGENDAMENTO"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "AGUARDANDO_ESCOLHA",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "STATUS_AGUARDANDO_ESCOLHA"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -368,
          -224
        ],
        "id": "switch-status",
        "name": "Switch - Route by STATUS"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "mensagem",
                "value": "Para eu seguir com seu atendimento, me informe seu nome e empresa.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -128,
          -480
        ],
        "id": "set-msg-inicio",
        "name": "Set - Msg STATUS INICIO"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "mensagem",
                "value": "Pode me descrever melhor o problema?",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          128,
          -368
        ],
        "id": "set-msg-ident",
        "name": "Set - Msg STATUS AGUARDANDO_IDENTIFICACAO"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "mensagem",
                "value": "Problema resolvido? Responda 1 para sim ou 2 para não.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          368,
          -240
        ],
        "id": "set-msg-valid",
        "name": "Set - Msg STATUS AGUARDANDO_VALIDACAO"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "mensagem",
                "value": "Vamos tentar novamente...",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          608,
          -368
        ],
        "id": "set-msg-retry",
        "name": "Set - Msg Retry"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "mensagem",
                "value": "Perfeito, atendimento encerrado.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          608,
          -128
        ],
        "id": "set-msg-end",
        "name": "Set - Msg Encerrado"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://cyberbridge.digisac.me/api/v1/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 0e2b99e486e18e67bdcad5dcaad660e936a575c1"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { text: $json.mensagem, type: \"chat\", contactId: $json.contactId, number: $json.number, serviceId: $json.serviceId, origin: \"bot\", dontOpenTicket: true } }}"
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          848,
          -240
        ],
        "id": "send-generic-msg",
        "name": "HTTP Request - Enviar Mensagem Generica DigiSAC"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://cyberbridge.digisac.me/api/v1/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 0e2b99e486e18e67bdcad5dcaad660e936a575c1"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ text: $json.comment_text || \"Log interno\", type: \"comment\", contactId: $(\"Set - Normalizar Payload\").item.json.contactId, userId: null, origin: \"bot\" }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1088,
          224
        ],
        "id": "digisac-comment",
        "name": "HTTP Request - DigiSAC Comment"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "comment_text",
                "value": "Chamado escalado automaticamente após 3 tentativas.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          848,
          224
        ],
        "id": "set-comment-ticket",
        "name": "Set - Comment Ticket"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "comment_text",
                "value": "Link do Bookings enviado ao cliente.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2048,
          224
        ],
        "id": "set-comment-agendamento",
        "name": "Set - Comment Agendamento"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "comment_text",
                "value": "Agendamento confirmado automaticamente.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          448,
          528
        ],
        "id": "set-comment-confirmado",
        "name": "Set - Comment Confirmado"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "comment_text",
                "value": "Atendimento encerrado automaticamente.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1088,
          -336
        ],
        "id": "set-comment-encerrado",
        "name": "Set - Comment Encerrado"
      },
      {
        "parameters": {
          "url": "={{ \"https://cyberbridge.digisac.me/api/v1/contacts?where[data.number][$iLike]=%\" + $(\"Set - Normalizar Payload\").item.json.customer_id + \"%\" }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 0e2b99e486e18e67bdcad5dcaad660e936a575c1"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1328,
          128
        ],
        "id": "get-contact-phone",
        "name": "HTTP Request - Get Contact By Phone"
      },
      {
        "parameters": {
          "jsCode": "const arr = ($json.data || []); const first = Array.isArray(arr) ? (arr[0] || {}) : {}; const contactId = first.id || \"\"; const tags = Array.isArray(first.tags) ? first.tags.map(t => t.label).filter(Boolean) : []; const bot_on = tags.includes(\"BOT:ON\"); const statusTag = tags.find(t => String(t).startsWith(\"STATUS:\")) || \"STATUS:INICIO\"; const status = String(statusTag).replace(\"STATUS:\",\"\"); return [{json:{...$(\"Set - Normalizar Payload\").item.json, contactId, tags, bot_on, status, serviceId:first.serviceId || \"\", contact_name_real:first.name || $(\"Set - Normalizar Payload\").item.json.customer_name}}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1088,
          128
        ],
        "id": "extract-contactid",
        "name": "Code - Extrair ContactId"
      },
      {
        "parameters": {
          "jsCode": "const base = $(\"Code - Extrair ContactId\").item.json; const tags = (base.tags || []).filter(t => !String(t).startsWith(\"STATUS:\")); return [{json:{...base, tagLabels:[...tags, \"STATUS:AGUARDANDO_IDENTIFICACAO\"]}}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          128,
          -528
        ],
        "id": "build-tags-inicio",
        "name": "Code - Build Tags STATUS INICIO"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://cyberbridge.digisac.me/api/v1/contacts/\" + $(\"Code - Map Label to TagIds\").item.json.contactId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 0e2b99e486e18e67bdcad5dcaad660e936a575c1"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { tagIds: $(\"Code - Map Label to TagIds\").item.json.tagIds } }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          368,
          -528
        ],
        "id": "set-tags-digisac",
        "name": "HTTP Request - Set Tags DigiSAC"
      },
      {
        "parameters": {
          "url": "https://cyberbridge.digisac.me/api/v1/tags",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 0e2b99e486e18e67bdcad5dcaad660e936a575c1"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          368,
          -640
        ],
        "id": "list-tags-digisac",
        "name": "HTTP Request - Listar Tags DigiSAC"
      },
      {
        "parameters": {
          "jsCode": "const prev = $(\"Code - Build Tags STATUS INICIO\").item.json; const wanted = prev.tagLabels || []; const payload = $json.data || $json.items || $json || []; const rows = Array.isArray(payload) ? payload : (Array.isArray(payload.data) ? payload.data : []); const map = new Map(rows.map(t => [t.label || t.name, t.id])); const tagIds = wanted.map(label => map.get(label)).filter(Boolean); return [{json:{...prev, tagIds, listedTags: rows}}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          -640
        ],
        "id": "map-tag-ids",
        "name": "Code - Map Label to TagIds"
      },
      {
        "parameters": {
          "url": "={{ \"https://cyberbridge.digisac.me/api/v1/contacts/\" + $(\"Code - Extrair ContactId\").item.json.contactId + \"?include[0]=tags\" }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 0e2b99e486e18e67bdcad5dcaad660e936a575c1"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -848,
          128
        ],
        "id": "get-contact-tags",
        "name": "HTTP Request - Get Contact Tags DigiSAC"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "mensagem",
                "value": "={{ $json.mensagem }}",
                "type": "string"
              },
              {
                "name": "contactId",
                "value": "={{ $json.contactId }}",
                "type": "string"
              },
              {
                "name": "number",
                "value": "={{ $json.customer_id || $json.number }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          600,
          -240
        ],
        "id": "set-payload-final",
        "name": "Set - Payload Final"
      },
      {
        "parameters": {
          "jsCode": "const base = $json; const status = base.status || base.status_decisao || \"INICIO\"; let decisao = { status, intent: \"unknown\", responder_ao_cliente: true, mensagem: \"\", confidence: 0.8, usar_resposta_pronta: true, kb_item_id: null, precisa_identificacao: false, abrir_ticket: false, agendar: false, handoff_humano: false, motivo: \"estado_atual\" }; if (status === \"INICIO\") { decisao = { ...decisao, mensagem: \"Para eu seguir com seu atendimento, me informe seu nome e empresa.\", precisa_identificacao: true, kb_item_id: \"kb_identificacao_001\" }; } else if (status === \"AGUARDANDO_IDENTIFICACAO\") { decisao = { ...decisao, mensagem: \"Pode me descrever melhor o problema?\", status: \"TRIAGEM\", kb_item_id: \"kb_triagem_001\" }; } else if (status === \"AGUARDANDO_VALIDACAO\") { decisao = { ...decisao, mensagem: \"Problema resolvido? Responda 1 para sim ou 2 para não.\", kb_item_id: \"kb_validacao_001\" }; } return [{json:{...base, decisao}}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          120,
          -240
        ],
        "id": "resolver-acao",
        "name": "Code - Resolver Acao Conversacional"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "mensagem",
                "value": "={{ $json.decisao.mensagem }}",
                "type": "string"
              },
              {
                "name": "contactId",
                "value": "={{ $json.contactId }}",
                "type": "string"
              },
              {
                "name": "number",
                "value": "={{ $json.customer_id || $json.number }}",
                "type": "string"
              },
              {
                "name": "serviceId",
                "value": "={{ $json.serviceId }}",
                "type": "string"
              },
              {
                "name": "status_decisao",
                "value": "={{ $json.decisao.status }}",
                "type": "string"
              },
              {
                "name": "abrir_ticket",
                "value": "={{ $json.decisao.abrir_ticket }}",
                "type": "boolean"
              },
              {
                "name": "agendar",
                "value": "={{ $json.decisao.agendar }}",
                "type": "boolean"
              }
            ]
          },
          "options": {
            "includeOtherFields": true
          }
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          360,
          -240
        ],
        "id": "set-payload-decisao",
        "name": "Set - Payload Decisao"
      },
      {
        "parameters": {
          "jsCode": "const base = $(\"Code - Build Tags STATUS INICIO\").item.json; return [{json:{...base}}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          600,
          -520
        ],
        "id": "restore-context-tags",
        "name": "Code - Restaurar Contexto Apos Tags"
      }
    ],
    "connections": {
      "Webhook - DigiSAC Entrada": {
        "main": [
          [
            {
              "node": "IF - Origem Cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Origem Cliente": {
        "main": [
          [
            {
              "node": "Set - Normalizar Payload",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond to Webhook - Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - Normalizar Payload": {
        "main": [
          [
            {
              "node": "HTTP Request - Get Contact By Phone",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - Get Contact By Phone": {
        "main": [
          [
            {
              "node": "Code - Extrair ContactId",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Extrair ContactId": {
        "main": [
          [
            {
              "node": "HTTP Request - Get Contact Tags DigiSAC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Extrair Estado Conversa": {
        "main": [
          [
            {
              "node": "IF - BOT ON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - BOT ON": {
        "main": [
          [
            {
              "node": "IF - Tem STATUS",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond to Webhook - Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Tem STATUS": {
        "main": [
          [
            {
              "node": "Switch - Route by STATUS",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond to Webhook - Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch - Route by STATUS": {
        "main": [
          [
            {
              "node": "Code - Build Tags STATUS INICIO",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code - Resolver Acao Conversacional",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code - Gerar Chave KB",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code - Resolver Acao Conversacional",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request - Enviar Link Bookings DigiSAC",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Webhook - Escolha Agendamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - Msg STATUS INICIO": {
        "main": [
          [
            {
              "node": "Set - Payload Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - Msg STATUS AGUARDANDO_IDENTIFICACAO": {
        "main": [
          [
            {
              "node": "Set - Payload Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - Msg STATUS AGUARDANDO_VALIDACAO": {
        "main": [
          [
            {
              "node": "Set - Payload Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - Enviar Mensagem Generica DigiSAC": {
        "main": [
          [
            {
              "node": "Respond to Webhook - Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Gerar Chave KB": {
        "main": [
          [
            {
              "node": "Code - Load JSON State V2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Load JSON State V2": {
        "main": [
          [
            {
              "node": "IF - Ja Resolvido",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Ja Resolvido": {
        "main": [
          [
            {
              "node": "Respond to Webhook - Final",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF - Qualidade para OpenClaw",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Qualidade para OpenClaw": {
        "main": [
          [
            {
              "node": "HTTP Request - OpenClaw Fallback",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code - Update Attempt JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - OpenClaw Fallback": {
        "main": [
          [
            {
              "node": "Set - Normalizar Resposta OpenClaw",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - Normalizar Resposta OpenClaw": {
        "main": [
          [
            {
              "node": "Code - Save KB JSON V2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Save KB JSON V2": {
        "main": [
          [
            {
              "node": "Switch - Rota OpenClaw",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch - Rota OpenClaw": {
        "main": [
          [
            {
              "node": "Set - Msg STATUS AGUARDANDO_VALIDACAO",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF - Ticket ID Exists",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request - Enviar Link Bookings DigiSAC",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code - Update Attempt JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Update Attempt JSON": {
        "main": [
          [
            {
              "node": "IF - Tentativas >= 3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Tentativas >= 3": {
        "main": [
          [
            {
              "node": "IF - Ticket ID Exists",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond to Webhook - Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Ticket ID Exists": {
        "main": [
          [
            {
              "node": "Respond to Webhook - Final",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request - Abrir Ticket",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - Abrir Ticket": {
        "main": [
          [
            {
              "node": "Set - Comment Ticket",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - Comment Ticket": {
        "main": [
          [
            {
              "node": "HTTP Request - DigiSAC Comment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - Enviar Link Bookings DigiSAC": {
        "main": [
          [
            {
              "node": "Set - Comment Agendamento",
              "type": "main",
              "index": 0
            },
            {
              "node": "Respond to Webhook - Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - Comment Agendamento": {
        "main": [
          [
            {
              "node": "HTTP Request - DigiSAC Comment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Escolha Agendamento": {
        "main": [
          [
            {
              "node": "Set - Normalizar Escolha",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - Normalizar Escolha": {
        "main": [
          [
            {
              "node": "HTTP Request - Confirmar Agendamento DigiSAC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - Confirmar Agendamento DigiSAC": {
        "main": [
          [
            {
              "node": "Set - Comment Confirmado",
              "type": "main",
              "index": 0
            },
            {
              "node": "Respond to Webhook - Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - Comment Confirmado": {
        "main": [
          [
            {
              "node": "HTTP Request - DigiSAC Comment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - Msg Encerrado": {
        "main": [
          [
            {
              "node": "Set - Payload Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - Comment Encerrado": {
        "main": [
          [
            {
              "node": "HTTP Request - DigiSAC Comment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Build Tags STATUS INICIO": {
        "main": [
          [
            {
              "node": "HTTP Request - Listar Tags DigiSAC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - Set Tags DigiSAC": {
        "main": [
          [
            {
              "node": "Code - Restaurar Contexto Apos Tags",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - Listar Tags DigiSAC": {
        "main": [
          [
            {
              "node": "Code - Map Label to TagIds",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Map Label to TagIds": {
        "main": [
          [
            {
              "node": "HTTP Request - Set Tags DigiSAC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - Get Contact Tags DigiSAC": {
        "main": [
          [
            {
              "node": "Code - Extrair Estado Conversa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - Payload Final": {
        "main": [
          [
            {
              "node": "HTTP Request - Enviar Mensagem Generica DigiSAC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Resolver Acao Conversacional": {
        "main": [
          [
            {
              "node": "Set - Payload Decisao",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - Payload Decisao": {
        "main": [
          [
            {
              "node": "HTTP Request - Enviar Mensagem Generica DigiSAC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Restaurar Contexto Apos Tags": {
        "main": [
          [
            {
              "node": "Code - Resolver Acao Conversacional",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "willian andrade",
    "name": null,
    "description": null,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-24T02:54:38.395Z",
        "id": 66,
        "workflowId": "mJ9SYWxEjWfy5DaY",
        "versionId": "64acbf5f-70f2-40b3-ab4c-a591ccfbfe46",
        "event": "activated",
        "userId": "ea80400d-ced0-413f-a049-5716804a81b2"
      },
      {
        "createdAt": "2026-03-24T02:54:38.493Z",
        "id": 67,
        "workflowId": "mJ9SYWxEjWfy5DaY",
        "versionId": "64acbf5f-70f2-40b3-ab4c-a591ccfbfe46",
        "event": "activated",
        "userId": "ea80400d-ced0-413f-a049-5716804a81b2"
      }
    ]
  }
}